# Node.js
node_modules/

# Environment Files
.env

# Logs
logs/
*.log
npm-debug.log*

# Dependency directories
jspm_packages/

# Build directories
build/
dist/

# Operating System files
.DS_Store
Thumbs.db

# IDE or Editor specific files
.vscode/
.idea/

# Cloudinary upload folder
Job_Seekers_Resume/

# Temporary files
temp/
backend/config/config.env
*.env
